.transactionsHistory {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    width: auto;
    display: block;
    font-family: 'Roboto', sans-serif;
  }
  .transactionsHistory td,
  .transactionsHistory th {
    border: 1px solid #ddd;
    padding: 6px 10px;
    color: #5c6975;
  }
  .transactionsHistory tr {
    background-color: #fff;
  }
  
  .transactionsHistory tr:hover {
    background-color: #ddd;
  }
  
  .transactionsHistory th {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ebeef2;
    color: #272727;
    text-transform: uppercase;
  }
  .mainPrice {
    color: #000;
    font-weight: bold;
  }
  .transactionsHistory ul {
    list-style: none;
    padding: 0;
  }