.transactionsHistory {
    margin: 0 auto;
    width: 874px;
    text-align: center;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
  }
  .transactionsHistory td,
  .transactionsHistory th {
    border: 1px solid #ddd;
    padding: 20px;
    color: #5c6975;
    width: 30%;
  }
  .transactionsHistory tr {
    background-color: #fff;
  }
  
  .transactionsHistory tr:hover {
    background-color: #ddd;
  }
  
  .transactionsHistory th {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ebeef2;
    color: #272727;
    text-transform: uppercase;
  }